pandas
numpy
pymilvus
pymysql
langchain-openai
langchain-core
langchain-community
langchain-milvus
grpcio
protobuf
python-dotenv
langchain
grpcio-tools==1.46.5
protobuf>=3.20.0
apscheduler
redis
flask
